/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;

  scroll-behavior: smooth;

  text-rendering: optimizeSpeed;

  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;

  display: block;
}

/* Natural flow and rhythm in articles by default */

article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;

    animation-iteration-count: 1 !important;

    transition-duration: 0.01ms !important;

    scroll-behavior: auto !important;
  }
}

.mt-3 {
  margin-top: 85px;
}

.mt-4 {
  margin-top: 150px;
}

.section-up {
  margin: 0 auto;
  width: 100vw;
  background-image: url(backtop.svg);
  /* height: 877px; */
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
  position: absolute; */
  z-index: 0;
  background-repeat: no-repeat;
}

.section-up__logo {
  margin: 0 30px;
  padding-top: 126px;
  justify-content: center;
  z-index: 3;
}

.section-up__demo {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 85px;
  z-index: 23;
}

.center {
  justify-content: center;
}

/* .top-image {
  height: 800px;
} */

.top-text {
  color: white;
  max-width: 404px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  /* margin-top: 161px; */
}

.goals {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 14px;
}

.goals h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #ed1a1a;
  text-transform: uppercase;
}

.goals ul {
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.pic-truck {
  padding-left: 163px;
  margin-top: 96px;
  width: 100%;
}

.pic-truck-sm {
  padding-left: 0;
  margin-top: 105px;
  width: 100%;
}

.realization {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 96px;
}

.realization h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #ed1a1a;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.realization__txt {
  font-size: 18px;
  line-height: 22px;
  max-width: 1152px;
}

.func {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 73px;
  font-size: 18px;
}

.func h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #ed1a1a;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.renew {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 96px;
}

.renew h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #ed1a1a;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.barrel {
  margin-top: 77px;
  align-items: center;
}

.store {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* // Экстрамалые девайсы («телефоны», < 576px)
// Нет @media, т.к. это по умолчанию в Bootstrap */

/* // Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {
  .top-text {
    color: #000000;
  }

  .mt-4 {
    margin-top: 125px;
    margin-bottom: 70px;
  }

  .pic-truck-sm {
    padding-left: 0;
    margin-top: 105px;
    width: 100%;
  }

  .store {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

}

/* // Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .top-text {
    color: #000000;
  }

  .mt-4 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .top-text {
    color: azure;
  }
}

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .top-text {
    color: azure;
    max-width: 404px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    /* margin-top: 161px; */
  }
}