/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .up-section {
    margin: 0 auto;
    width: 100%;
    background: #000000;
    height: 877px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 0;
    position: absolute;
  }
  .up-section__logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 126px;
    position: relative;
  }

  .up-section__logo img {
    height: auto;
    max-width: 1152px;
  }
  .up-section__demo {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .up-section__demo img {
    /**padding-top: 85px;**/
    /**height: auto;**/
    max-width: 772px;
    z-index: 3;
  }

  .up-section__demo p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 37px;
    max-width: 400px;
    /* padding-left: 35px; */
    /* padding-top: 161px; */
    z-index: 3;
  }

  .goals {
    margin: 0 auto;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    /* padding-left: 373px; */
    display: flex;
    flex-direction: column;
    margin-top: 14px;
  }

  .goals h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
  }

  .goals ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    padding-left: 0;
    color: #000000;
  }

  .truck {
    margin-top: 104px;
  }

  .truck img {
    padding-left: 163px;
    height: auto;
  }

  .realization {
    margin: 0 auto;
    margin-top: 37px;
    font-family: "Montserrat", sans-serif;
    /* padding-left: 373px;
    padding-right: 373px; */
  }

  .realization h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
  }

  .realization ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    max-width: 1158px;
    padding-left: 0;
    color: #000000;
  }
}

@media (min-width: 992px) {
  .up-section {
    margin: 0 auto;
    width: 100%;
    background: #000000;
    height: 877px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 0;
    position: absolute;
  }

  .up-section__logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 126px;
    position: relative;
  }

  .up-section__logo img {
    height: auto;
  }

  .up-section__demo {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    padding-top: 85px;
    flex-direction: row;
    justify-content: center;
  }

  .up-section__demo img {
    /**height: auto;**/
    z-index: 3;
  }

  .up-section__demo p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    /* padding-left: 35px;
    padding-top: 161px; */
    z-index: 3;
  }

  .goals {
    margin: 0 auto;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    /* padding-left: 373px; */
    margin-top: 14px;
  }

  .goals h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    max-width: 405px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
  }

  .goals ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    padding-left: 0;
    color: #000000;
  }

  .truck {
    margin-top: 104px;
  }

  .truck img {
    padding-left: 163px;
    height: auto;
  }

  .realization {
    margin: 0 auto;
    margin-top: 37px;
    font-family: "Montserrat", sans-serif;
    /* padding-left: 373px;
    padding-right: 373px; */
  }

  .realization h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
  }

  .realization ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    max-width: 1158px;
    padding-left: 0;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .up-section {
    margin: 0 auto;
    width: 100%;
    background: #000000;
    height: 877px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 0;
    position: absolute;
  }

  .up-section__logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 126px;
    position: relative;
  }

  .up-section__logo img {
    height: auto;
  }

  .up-section__demo {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    padding-top: 85px;
    flex-direction: row;
    justify-content: center;
  }

  .up-section__demo img {
    height: auto;
    z-index: 3;
  }

  .up-section__demo p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    max-width: 405px;
    /* padding-left: 35px;*/
    padding-top: 75px;
    z-index: 3;
  }

  .goals {
    margin: 0 auto;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    margin-top: 14px;
  }

  .goals h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    padding-right: 57rem;

    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
  }

  .goals ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    max-width: 958px;
    padding-left: 0;
    color: #000000;
  }

  .truck {
    margin-top: 104px;
  }

  .truck img {
    padding-left: 163px;
    height: auto;
  }

  .realization {
    margin: 0 auto;
    margin-top: 96px;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-left: 373px;
    padding-right: 373px; */
  }

  .realization h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
    margin-right: 57rem;
  }

  .realization ul {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin-top: 37px;
    max-width: 1158px;
    padding-left: 0;
    color: #000000;
  }

  .block-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 77px;
    justify-content: space-around;
  }

  .block-box {
    max-width: 700px;
    font-family: "Montserrat", sans-serif;
    margin-right: 60px;
  padding-left: 11rem;
  }

  .block-box__function {
    max-width: 586px;
  }

  .block-box__function ul {
    list-style: none;
    font-size: 18px;

    line-height: 22px;
    margin-top: 37px;
    padding-left: 0;
    color: #000000;
  }

  .block-box__function h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
    margin-right: 57rem;
  }

  .block-box__renew {
    width: 100%;
  }
  .block-box__renew h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ed1a1a;
    text-transform: uppercase;
    /* margin-right: 57rem; */
  }
  .block-box__renew ul {
    list-style: none;
    font-size: 18px;
    /* max-width: 586px; */
    line-height: 22px;
    margin-top: 37px;
    padding-left: 0;
    color: #000000;
  }

  .block-image {
    max-width: 912px;
  }
}
